ion-card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 150px;
  background-color: #d5ed0c;
  p {
    margin-top: -4px;
    font-weight: 500;
    font-family: cursive;
    color: black;
  }
}
ion-card:hover {
  transform: scale(1.02);
}

.icon {
  width: 175px;
  height: 90px;
  border-radius: 15px;
}
