<app-header> </app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-butoncontrol buttonText="Home" fontIcon="home"> </app-butoncontrol>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong class="capitalize">{{ folder }}</strong> -->
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Updates</a></p>
  </div>
</ion-content>


<app-footer></app-footer>